@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap');

@import "tailwindcss";


@keyframes running-slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400vw);
  }
}

.animate-running-slider {
  animation: running-slider 50s linear forwards;
}

h1, h2, h3, h4 {
  font-family: 'DM Serif Text', serif;
}

p, span, button, a {
  font-family: 'DM Sans', serif;
}

@keyframes scrollPath {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}